.jumbotron {
  padding-top: 6rem;
  background-color: #bac8d9;
}
#project {
  background-color: #bac8d9;
}
section {
  padding-top: 5rem;
}
.navbar {
  background-color: #7abf5a;
}
footer {
  background-color: #7abf5a;
}
.about {
  width: 100%;
  height: auto;
}
